[Unit]
Description=Consumer

[Service]
Type=simple
WorkingDirectory=/home/pi/Developer/race-monitor-x-pro/obd-rally-golf
ExecStart=/home/pi/Developer/race-monitor-x-pro/boot/arduino_rmpx_service.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
