[Unit]
Description=Consumer

[Service]
Type=simple
WorkingDirectory=/home/pi/Developer/py/obd-rally-golf
ExecStart=/home/pi/Developer/py/boot/arduino_rmpx_service.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
